.footer{
  background: green;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
}



.foto{
    background: url("school.jpg");
    height: 253px;
    background-size: 100%;
   }

 .person{
 	
	width: 200px;
	height: 150px;
 	float: left;
    margin-right: 40px;
    margin-left: 60px;
    margin-top: 20px;

    border: 4px double black; 
    background: #fc3; 
    padding: 10px;
 }

 